<ion-modal-view>
    <ion-header-bar class=" bar-calm-900" style="background-color: #0D47A1!important;display: block">
        <div class="float-left"><span> {{place.name}}</span></div>
        <div style="float: right !important;margin: 12px 20px 0px 0px">
            <i class="ion ios-close-circle-outline" ng-click="closeDeviceInfoDialog()"></i>
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="info_div">

            <h4 class="" style="margin-top: 10px;font-size: 28px">{{'Place Type' | translate}}</h4>
            <div class="list ">
                <ion-radio icon="icon ion-android-radio-button-on " ng-model=" place.type " ng-value="1">
                    <i class="ion ios-home-outline"></i>Home
                </ion-radio>
                <ion-radio icon="icon ion-android-radio-button-on  " ng-model=" place.type " ng-value="2">
                    <i class="ion ios-location-outline"></i>Office
                </ion-radio>
                <ion-radio icon="icon ion-android-radio-button-on  " ng-model=" place.type " ng-value="3">
                    <i class="ion ios-location-outline"></i>Other Place
                </ion-radio>
            </div>

            <h4 class="">Place Name</h4>
            <ion-input>
                <input class="gray-border width_100 padding_5" type="text" ng-model=" place.name"
                       placeholder="Place Name">
            </ion-input>
            <h4 class="">Place Details</h4>
            <ion-input>
                <textarea class="gray-border width_100 padding_5" rows="4" ng-model=" place.details"
                          placeholder="Place Details"></textarea>
            </ion-input>

        </div>
        <div style="margin-bottom: 10px;padding-bottom: 20px">
            <button class="button  button-positive float-left " ng-click="savePlace(place)"><i
                    class="ion ion-ios-cloud-upload-outline"> &nbsp;</i> {{ 'Save' | translate }}
            </button>
            <button class="button  button-stable float-right " ng-click="closeEditPlaceDialog()">{{ 'Close' |
                translate }}
            </button>

            <br>
            <br>
        </div>
    </ion-content>
</ion-modal-view>
