	<ion-view view-title=" Activity" hide-nav-bar="false" >
		<!-- popover -->
		<ion-nav-buttons side="right">
			<button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover" ng-click="popover.show($event)"></button>
		</ion-nav-buttons>
		<!-- ./popover -->
		<ion-nav-title> Activity</ion-nav-title>
		<!-- content -->
		<ion-content delegate-handle="top"   id="page-activity" class="page-activity">
		
<div class="padding">
  <div >
    <h4>Activity</h4>
    <p>This page is under construction. Please come back soon!</p>
  </div>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
