	<ion-view id="particles-js" view-title=" Dashboard" hide-nav-bar="true" style="background-color: #ffffff ;text-align: center">
		<!-- popover -->

		<!-- ./popover -->
		<!-- content -->
		<ion-content   scroll="false">


			<figure class="snip1344">
				<img src="data/images/background/bg3.jpg" alt="profile-sample1" class="logo-background"/>
				<img src="data/images/IOT-LOGO-final_transparent-03.png" alt="profile-sample1" class="logo"/>
				<figcaption>
					<div class="col col-bottom" >
						<button class="facebook-sign-in button button-block"
								style="color: #ffffff ;width: 255px;background-color: #0D47A1"
								ng-click="LogIn()">
							<i  style="margin-top: -8px;" class="icon ion-social-facebook" > </i>
							<span>Log in with Facebook</span>
						</button>
					</div>
				</figcaption>
			</figure>


		</ion-content>

		<!-- ./content -->
	</ion-view>
