<ion-view view-title=" Device" hide-nav-bar="false">
    <!-- popover -->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-android-more-vertical" id="menu-popover"
                ng-click="popover.show($event)"></button>
    </ion-nav-buttons>
    <!-- ./popover -->
    <ion-nav-title> Device</ion-nav-title>
    <!-- content -->
    <ion-content delegate-handle="top" id="page-devise" class="page-devise">

        <div class="padding">
            <div style="margin-top: 5% ;color: #ffffff;padding: 20px ; cursor: pointer ;display: grid" class="home_div"
            >
                <div class="display-block ">
                    <span class="float-left" style="font-size: 22px;display: inline-flex;margin: -5px -2px"
                          ng-click="showEditPlaceDialog(true)">
                        <i class="ion ion-edit"></i>
                    </span>

                    <span class="float-right" style="font-size: 25px;display: inline-flex;margin: -5px -2px"
                          ng-click="showEditPlaceDialog(false)">
                       <i class="ion ion-android-add-circle"></i>
                    </span>

                </div>
                <div class="display-block">
                    <div class="display-block float-left" style="margin: 10px 10px 0px 0px; border-right: 2px solid white !important;">
                            <span style="font-size: 70px;padding-top: 20px;padding-right: 10px;" ng-click="showPlaceListDialog()">
                                <img width="70" ng-if="placeSelected.type==1" src="img/svg/home.svg">
                                <img width="70" ng-if="placeSelected.type==2" src="img/svg/analytics.svg">
                                <img width="70" ng-if="placeSelected.type==3" src="img/svg/building.svg">
                            </span>
                    </div>

                    <button class="" style="background-color: transparent; border: 0px"
                            ng-click="showPlaceListDialog()">
                        <h3 class="white-color" style="margin-top: 20px;font-size: 22px">{{placeSelected.name}}</h3>
                        <h4 class="white-color">{{placeSelected.deviseCount}} Device(s)</h4>
                    </button>


                </div>
            </div>
            <!--<h4 class="float-left">List of Devise(s) </h4>-->
            <button class="button button-balanced blue-color  float-right no-padding" style="width: 100px;margin-top: 5px"
                    ng-click="showEditDeviceDialog()">
                <i class="ion ion-android-add"  style="top: -16px !important;"></i> <span >Device</span>
            </button><br><br>
            <div style="margin-top: 20px ;text-align: center;vertical-align: middle">

                <div ng-repeat="deviceInfo in deviceList" class="box-shadow"
                     style="display: inline-block; margin: 2px;width: 150px ;height: 100px;padding: 10px;text-align: center;cursor: pointer"
                     ng-click="showDeviceInfo(deviceInfo)"
                >
                    <img width="50px" src='img/svg/{{deviceInfo.image}}'>
                    <h5> {{deviceInfo.name}}</h5>
                </div>
            </div>
        </div>

    </ion-content>
    <!-- ./content -->
</ion-view>
